body {
    font-family: sans-serif;
    background-color: #fff000;
    margin: 0;
  }







  
  .topnav {
    height: 140px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
  }
  
  .topnav a {
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
  }
  
  .topnav a:hover {
    font-weight: bolder;
  }
  
 
  
  
  
  
  
  
  .logo {
    margin-right: 100px;
  }
  

  
  
  .promotional__banner {
    background-color: red;
    display: flex;
    align-items: center;
    color: #fff;
    overflow: hidden;
    height: 54px;
  
  
  }
  
  .promotional__banner h1 {
    white-space: nowrap;
  }
  
  

  /* img n txt */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* bottom left txt */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* top left txt */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;

  }


  







  /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 15%;
    padding: 20px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }









  .btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  
  
  .success:hover {
    font-weight: bolder;

  }


  
  .default:hover {
    font-weight: bolder;
  }

  /* Footer why no hover??? */
  footer {
  
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0px 60px;
    


  }
  
  footer a {
    text-decoration: none;
    color: #000;
  }

  